<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fighter.name %>
</p>

<p>
  <strong>Born on:</strong>
  <%= @fighter.born_on %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @fighter.nationality %>
</p>

<p>
  <strong>Url:</strong>
  <%= @fighter.url %>
</p>

<%= link_to 'Edit', edit_fighter_path(@fighter) %> |
<%= link_to 'Back', fighters_path %>
