<%= form_for(@fight) do |f| %>
  <% if @fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% @fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_name %><br>
    <%= f.text_field :event_name %>
  </div>
  <div class="field">
    <%= f.label :event_url %><br>
    <%= f.text_field :event_url %>
  </div>
  <div class="field">
    <%= f.label :fighter1_id %><br>
    <%= f.number_field :fighter1_id %>
  </div>
  <div class="field">
    <%= f.label :fighter1_result %><br>
    <%= f.text_field :fighter1_result %>
  </div>
  <div class="field">
    <%= f.label :fighter1_result_elo %><br>
    <%= f.number_field :fighter1_result_elo %>
  </div>
  <div class="field">
    <%= f.label :fighter2_id %><br>
    <%= f.number_field :fighter2_id %>
  </div>
  <div class="field">
    <%= f.label :fighter2_result %><br>
    <%= f.text_field :fighter2_result %>
  </div>
  <div class="field">
    <%= f.label :fighter2_result_elo %><br>
    <%= f.number_field :fighter2_result_elo %>
  </div>
  <div class="field">
    <%= f.label :fought_on %><br>
    <%= f.date_select :fought_on %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :referee %><br>
    <%= f.text_field :referee %>
  </div>
  <div class="field">
    <%= f.label :result_method %><br>
    <%= f.text_field :result_method %>
  </div>
  <div class="field">
    <%= f.label :result_round %><br>
    <%= f.text_field :result_round %>
  </div>
  <div class="field">
    <%= f.label :result_time %><br>
    <%= f.text_field :result_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
