<h1>Listing fights</h1>

<table>
  <thead>
    <tr>
      <th>Event name</th>
      <th>Event url</th>
      <th>Fighter1</th>
      <th>Fighter1 result</th>
      <th>Fighter1 result elo</th>
      <th>Fighter1 result elo count</th>
      <th>Fighter1 predicted chance to win</th>
      <th>Fighter1 betting line</th>
      <th>Fighter1 expected return</th>
      <th>Fighter1 actual return</th>
      <th>Fighter2</th>
      <th>Fighter2 result</th>
      <th>Fighter2 result elo</th>
      <th>Fighter2 result elo count</th>
      <th>Fighter2 predicted chance to win</th>
      <th>Fighter2 betting line</th>
      <th>Fighter2 expected return</th>
      <th>Fighter2 actual return</th>
      <th>Fought on</th>
      <th>Location</th>
      <th>Referee</th>
      <th>Result method</th>
      <th>Result round</th>
      <th>Result time</th>
      <th>Betting url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.event_name %></td>
        <td><%= fight.event_url %></td>
        <td><%= fight.fighter1.name %></td>
        <td><%= fight.fighter1_result %></td>
        <td><%= fight.fighter1_result_elo %></td>
        <td><%= fight.fighter1_result_elo_count %></td>
        <td><%= (fight.fighter1_predicted_chance_to_win * 100).round(1) %></td>
        <td><%= fight.fighter1_betting_line %></td>
        <td><%= fight.fighter1_betting_return.try(:round, 1) %></td>
        <td><%= fight.fighter1_actual_return.try(:round, 1) %></td>
        <td><%= fight.fighter2.name %></td>
        <td><%= fight.fighter2_result %></td>
        <td><%= fight.fighter2_result_elo %></td>
        <td><%= fight.fighter2_result_elo_count %></td>
        <td><%= (fight.fighter2_predicted_chance_to_win * 100).round(1) %></td>
        <td><%= fight.fighter2_betting_line %></td>
        <td><%= fight.fighter2_betting_return.try(:round, 1) %></td>
        <td><%= fight.fighter2_actual_return.try(:round, 1) %></td>
        <td><%= fight.fought_on %></td>
        <td><%= fight.location %></td>
        <td><%= fight.referee %></td>
        <td><%= fight.result_method %></td>
        <td><%= fight.result_round %></td>
        <td><%= fight.result_time %></td>
        <td><%= fight.betting_url %></td>
        <td><%= link_to 'Show', fight %></td>
        <td><%= link_to 'Edit', edit_fight_path(fight) %></td>
        <td><%= link_to 'Destroy', fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path %>
