<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @fight.event_name %>
</p>

<p>
  <strong>Event url:</strong>
  <%= @fight.event_url %>
</p>

<p>
  <strong>Fighter1:</strong>
  <%= @fight.fighter1_id %>
</p>

<p>
  <strong>Fighter1 result:</strong>
  <%= @fight.fighter1_result %>
</p>

<p>
  <strong>Fighter1 result elo:</strong>
  <%= @fight.fighter1_result_elo %>
</p>

<p>
  <strong>Fighter2:</strong>
  <%= @fight.fighter2_id %>
</p>

<p>
  <strong>Fighter2 result:</strong>
  <%= @fight.fighter2_result %>
</p>

<p>
  <strong>Fighter2 result elo:</strong>
  <%= @fight.fighter2_result_elo %>
</p>

<p>
  <strong>Fought on:</strong>
  <%= @fight.fought_on %>
</p>

<p>
  <strong>Location:</strong>
  <%= @fight.location %>
</p>

<p>
  <strong>Referee:</strong>
  <%= @fight.referee %>
</p>

<p>
  <strong>Result method:</strong>
  <%= @fight.result_method %>
</p>

<p>
  <strong>Result round:</strong>
  <%= @fight.result_round %>
</p>

<p>
  <strong>Result time:</strong>
  <%= @fight.result_time %>
</p>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
